<!-- _includes/footer.html -->
<footer>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                    <ul>
                        <li><a href="https://github.com/High-Desert-Institute/OpenZineProject.org/blob/main/{{ page.path }}">Edit this page on GitHub</a></li>
                    </ul>
            </div><!--/col-->
            <div class="col-md-4 col-sm-12">
                    <ul>
                        <li><a href="https://discord.gg/Pg6N7xVbkk">Join The Discord</a></li>                    
                    </ul>
            </div><!--/col-->
            <div class="col-md-4 col-sm-12">
                    <ul>
                        <li>A project of <a href="https://highdesertinstitute.org">the High Desert Institute</a>.</li>
                    </ul>
            </div><!--/col-->
        </div><!--/row-->
</footer>
